@(form: Form[ProductData])(implicit messages: Messages)

@import views.Bootstrap._

@admin.base {
    <h1>Add product</h1>
    @if(form.hasGlobalErrors) {
        <ul class="alert alert-danger list-unstyled">
        @form.globalErrors.flatMap(_.messages).map { errorMessage =>
            <li>@errorMessage</li>
        }
        </ul>
    }
    @helper.form(action = routes.Application.doAddProduct()) {
        @helper.inputText(form("name"), 'class → "form-control")
        @helper.textarea(form("description"), 'class → "form-control")
        <button type="submit" class="btn btn-primary">Add</button>
    }
}
